@import '../../../../assets/common-styles/dropdown.scss';

:host ::ng-deep {
  .multiselect-dropdown .dropdown-btn {
    @extend .btn-secondary;
    background-color: $color-5;
  }

  .multiselect-item-checkbox {
    input:checked + div:before {
      background: $color-5 !important;
      border-color: $color-5 !important;
    }

    input + div:before {
      border-color: $color-5 !important;
    }
  }

  .selected-item {
    background: $color-5 !important;
  }
}
