<div class="bar">
  <div class="col-1">
    <button style="width: 6rem;" class="btn btn-info" [routerLink]="'../..'">{{ OTHER_TEXTS.get('back') }}</button>
  </div>

  <div class="col-1-5">
    <button style="width: 13rem;" class="dropdown btn btn-secondary dropdown-toggle" type="button"
      [disabled]="!roomShortcuts || roomShortcuts.length === 0" id="roomShortcuts" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{ OTHER_TEXTS.get('roomShortcuts') }}
      <div class="dropdown-menu" aria-labelledby="roomShortcuts">
        <a *ngFor="let shortcut of roomShortcuts" class="dropdown-item" (click)="goToRoom(shortcut.link)">
          {{ ROOM_NAMES.get(shortcut.link) }}
        </a>
      </div>
    </button>
  </div>

  <div class="col-1-5">
    <button style="width: 13rem;" class="dropdown btn btn-secondary dropdown-toggle" type="button"
      [disabled]="!battleShortcuts || battleShortcuts.length === 0" id="battleShortcuts" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{ OTHER_TEXTS.get('battleShortcuts') }}
      <div class="dropdown-menu" aria-labelledby="battleShortcuts">
        <a *ngFor="let shortcut of battleShortcuts; let i=index" class="dropdown-item"
          [ngClass]="areShortcutsOriginals && areShortcutsOriginals[i] ? 'original' : 'modified'"
          (click)="goToBattleManagement(shortcut.link)">
          <div class="battle">
            {{ ENEMY_NAMES.get(shortcut.enemyType) }}
            <img class="icon" [src]="ENEMY_ICONS.get(shortcut.enemyType)">
          </div>
        </a>
      </div>
    </button>
  </div>

  <div class="col-1">
    <button class="btn btn-light" type="button" (click)="resetAllChapterBattles()">
      <fa-icon [icon]="faUndoAlt"></fa-icon>
    </button>
  </div>

  <div *ngIf="hasBattlesAfterMidGame" class="col-6 center">
    {{ OTHER_TEXTS.get('beforeChapter5') }}
    <label class="switch">
      <input type="checkbox" [(ngModel)]="currentChapterSpecific.afterMidGame">
      <span class="slider round"></span>
    </label>
    {{ OTHER_TEXTS.get('afterChapter5') }}
  </div>

  <div *ngIf="currentRoom === 'tou_03.png' || currentRoom?.startsWith('aji_01_')"
    [ngClass]="currentRoom === 'tou_03.png' ? 'col-6' : 'col-7'">
    <mv-slider id="slider">
    </mv-slider>
  </div>
  <div class="col-1" style="font-size: smaller;" *ngIf="currentRoom === 'tou_03.png'">
    {{ OTHER_TEXTS.get('arenaSlider') }}
  </div>

  <div *ngIf="currentChapterSpecific?.collapsables?.includes(currentRoom)" class="col-4 center d-flex">
    <div style="width: 10rem;">{{ OTHER_TEXTS.get('beforeActivation') }}</div>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="currentChapterSpecific.isActivate" (change)="goToRoom(currentRoom)">
      <span class="slider round"></span>
    </label>
    <div style="width: 10rem;">{{ OTHER_TEXTS.get('afterActivation') }}</div>
  </div>
</div>

<div class="center">
  <div class="information">
    <div class="col information-detail">
      <div>{{ OTHER_TEXTS.get('currentRoom') }}</div>
      <div>{{ currentRoom }}</div>
    </div>
    <div class="col information-detail">
      <div>{{ OTHER_TEXTS.get('hoveredBattle') }}</div>
      <div>{{ hoverBattle ? hoverBattle :  OTHER_TEXTS.get('noneM') }}</div>
    </div>
    <div class="col information-detail">
      <div>{{ OTHER_TEXTS.get('hoveredRoom') }}</div>
      <div>{{ hoverTransition && hoverTransition !== '.png' ? hoverTransition :  OTHER_TEXTS.get('noneF') }}</div>
    </div>
    <div class="col information-detail">
      <div class="col custom-control custom-checkbox p-1">
        <input type="checkbox" [(ngModel)]="display.transition" class="custom-control-input" id="transition">
        <label class="custom-control-label" for="transition">
          <img class="icon" src="assets/images/map/pipe.png">
        </label>
      </div>
      <div class="col custom-control custom-checkbox p-1">
        <input type="checkbox" [(ngModel)]="display.battle" class="custom-control-input" id="battle">
        <label class="custom-control-label" for="battle">
          <img class="icon" [src]="ENEMY_ICONS.get(EnemyType.GOOMBA)">
        </label>
      </div>
      <div class="col custom-control custom-checkbox p-1">
        <input type="checkbox" [(ngModel)]="display.item" class="custom-control-input" id="item">
        <label class="custom-control-label" for="item">
          <img class="icon" [src]="BASIC_ITEM_ICONS.get(BasicItemType.MUSHROOM)">
        </label>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <svg class="map" [attr.viewBox]="viewBox">
    <image [attr.xlink:href]="currentRoom != null ? folderRoot + '/' + currentRoom : null" height="100%" />

    <rect *ngIf="currentRoom === 'tou_03.png'" x="553" y="266" width="182" height="104" />
    <image *ngIf="currentRoom === 'tou_03.png'"
      [attr.xlink:href]="currentChapterSpecific.displayedEnemy[currentChapterSpecific.currentBtlIndex - 1].icon" x="553"
      y="266" width="182" height="104" />

    <ng-container *ngIf="display.transition">
      <a *ngFor="let transition of transitionAreas.get(currentRoom);" (click)="goToRoom(transition.link)"
        [ngClass]="transition.link && transition.link != '.png' ? 'transition' : 'missing-link'"
        (mouseover)="hoverTransition = transition.link" (mouseleave)="hoverTransition = null">

        <circle *ngIf="transition.shape === 'circle'" [attr.cx]="transition.coords.split(',')[0]"
          [attr.cy]="transition.coords.split(',')[1]" [attr.r]="transition.coords.split(',')[2]" />
        <polygon *ngIf="transition.shape === 'poly'" [attr.points]="transition.coords" />
        <rect *ngIf="transition.shape === 'rect'" [attr.points]="transition.coords" />
      </a>
    </ng-container>

    <ng-container *ngIf="display.battle">
      <a *ngFor="let battle of battles;" (click)="goToBattleManagement(battle.link)"
        (mouseover)="hoverBattle = battle.link" (mouseleave)="hoverBattle = null"
        [ngClass]="[battle.link ? 'battle' : 'missing-link', areOriginals.get(battle.link) ? 'original' : 'modified']">

        <circle *ngIf="battle.shape === 'circle'" [attr.cx]="battle.coords.split(',')[0]"
          [attr.cy]="battle.coords.split(',')[1]" [attr.r]="battle.coords.split(',')[2]" />
        <polygon *ngIf="battle.shape === 'poly'" [attr.points]="battle.coords" />
        <image *ngIf="worldEnemies.get(battle.link)" [attr.xlink:href]="ENEMY_ICONS.get(worldEnemies.get(battle.link))"
          [attr.x]="battle.coords.split(',')[0]" [attr.y]="battle.coords.split(',')[1]" [attr.width]="30"
          [attr.height]="30">
        </image>
      </a>
    </ng-container>

    <ng-container *ngIf="display.item">
      <image *ngFor="let item of items; let i = index;" class="item" [ngClass]="item.spawner" (click)="edit(item)"
        [attr.xlink:href]="displayedItems[i]?.src"
        [attr.x]="displayedItems[i] ? 'calc(' + item.x + 'px - ' + displayedItems[i].width / 2 + 'px)' : 0"
        [attr.y]="displayedItems[i] ? 'calc(' + item.y + 'px - ' + displayedItems[i].height / 2 + 'px)': 0"
        [attr.width]="displayedItems[i]?.width" [attr.height]="displayedItems[i]?.height">
      </image>
    </ng-container>
  </svg>
</div>

<div class="center">
  <div class="information">
    <div class="col information-detail">
      <div>{{ OTHER_TEXTS.get('legend') }}</div>
      <div *ngFor="let spawner of SPAWNERS" class="legend-detail" [ngClass]="spawner">
        {{ SPAWNER_NAMES.get(spawner) }}
      </div>
    </div>
  </div>
</div>
