@import '../../../../styles-variables.scss';
@import '../../../../assets/common-styles/bar.scss';
@import '../../../../assets/common-styles/custom-col.scss';

.transition {
  fill: #0000ff80;
}

.battle {
  display: flex;
  justify-content: space-between;
}

.legend-detail:after {
  content: '■';
  font-size: x-large;
}

@each $name, $color in $spawner-colors {
  .item.#{$name} {
    outline: 2px solid #{$color};
    border-radius: 5px;
  }

  .legend-detail.#{$name}:after {
    color: #{$color};
  }
}

.original {
  fill: #ffbf00bf;
  background-color: #ffbf00bf;
}

.modified {
  fill: #00c100bf;
  background-color: #00c100bf;
}

.transition:hover,
.battle:hover {
  cursor: pointer;
  fill: $color-3-vibrant-transparent;
}

.item:hover {
  cursor: pointer;
  outline-style: auto;
}

.missing-link {
  fill: $color-5-vibrant-transparent !important;
}

rect {
  fill: rgb(255, 255, 255);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 0.5rem;
  padding: 0.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  max-height: 30px;
  max-width: 70px;
  padding-left: 1rem;
}

.center {
  text-align: center;
}

.map {
  max-height: 75vh;
}

:host ::ng-deep {
  &.slider.slider-horizontal {
    width: 55rem !important;
  }

  &.slider-selection.tick-slider-selection,
  &.slider-tick {
    background-image: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 100%) !important;
  }

  .slider-rangeHighlight {
    &.original {
      background: #ffbf00bf;
    }
    &.modified {
      background: #00c100bf;
    }
  }
}

.information {
  width: 75%;
  display: inline-flex;
  text-align: center;
  margin-bottom: 1rem;

  &-detail {
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
    display: inline-flex;
    justify-content: space-between;
  }
}
