<div class="modal-body row">
  <div class="col-3">
    <div class="grid information">
      <div>
        <div>{{ OTHER_TEXTS.get('spawner') }}</div>
        <div>{{ SPAWNER_NAMES.get(spawner) }}</div>
      </div>
      <div>
        <div>{{ OTHER_TEXTS.get('originalItem') }}</div>
        <img class="image" [src]="Utils.getItemIconFromType(originalItem)">
        <div>{{ Utils.getItemNameFromType(originalItem) }}</div>
      </div>
      <div>
        <div>{{ OTHER_TEXTS.get('currentItem') }}</div>
        <img class="image" [src]="Utils.getItemIconFromType(currentItem)">
        <div>{{ Utils.getItemNameFromType(currentItem) }}</div>
      </div>
      <div>
        <div>{{ OTHER_TEXTS.get('selectedItem') }}</div>
        <img class="image" [src]="Utils.getItemIconFromType(selectedItem)">
        <div>{{ texts.get(selectedItem) }}</div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <app-select-dropdown [elements]="itemTypeSelector" [placeholder]="OTHER_TEXTS.get('selectItemType')"
      [selectedItems]="[selectedItemType]" (selectionChange)="changeItemType($event)">
    </app-select-dropdown>
    <div class="grid">
      <img *ngFor="let item of displayedItems" class="icon clickable"
        [ngClass]="selectedItem === item ? 'selected' : ''" [src]="icons.get(item)" [alt]="texts.get(item)"
        [title]="texts.get(item)" (click)="selectItem(item)">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="confirm()">{{ OTHER_TEXTS.get('confirm') }}</button>
  <button type="button" class="btn btn-outline-dark" (click)="cancel()">{{ OTHER_TEXTS.get('cancel') }}</button>
  <button type="button" class="btn btn-outline-dark" (click)="reset()">{{ OTHER_TEXTS.get('reset') }}</button>
</div>
