@import '../../../styles-variables.scss';
@import '../../../assets/common-styles/custom-col.scss';
@import '../../../assets/common-styles/bar.scss';
@import '../../../assets/common-styles/pagination.scss';
@import '../../../assets/common-styles/table.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 4rem;
  grid-gap: 5px;
  align-items: center;
}

.image {
  max-width: 100px;
  max-height: 100px;
  place-self: center;
}

.icon {
  max-height: 50px;
}

.selected {
  border: 5px solid $color-5-vibrant;
  border-radius: 20px;
  padding: 0.5rem;
}

.information {
  background-color: $color-4;
  text-align: -webkit-center;
  background-image: repeating-linear-gradient(45deg, transparent 0px 14px, white 15px 2px);
}

.grid.information {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 6rem;
  height: 100%;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: larger;
  background-image: repeating-linear-gradient(-45deg, transparent 0px 14px, white 15px 2px);
}
