<!-- <div id="warning">
  <span id='close' (click)="closeWarning()">x</span>
  <p class="d-flex text">
    Attention ! Les modifications des attaques sont quelque chose de délicat.
    Il se peut que tout ne fonctionne pas comme prévu ou que certaines choses soient inutiles.
    <img style="width: 100px;" src="assets/images/luigi.png" alt="Paper Luigi greeting">
  </p>
</div> -->

<div class="bar">
  <div class="col-8">
  </div>

  <div class="col-4">
    <input type="text" [placeholder]="OTHER_TEXTS.get('searchPlaceholder')" (keyup)="search($event)">
  </div>
</div>

<div class="d-flex">
  <button *ngFor="let tab of tabs" class="tab-button col" [ngClass]="mode === tab ? 'active-tab' : 'inactive-tab'"
    (click)="changeMode(tab)">
    {{ STATS_TYPE_NAMES.get(tab) }}
  </button>
</div>

<div class="table-tab">
  <table class="entity-table">
    <thead class="table-header">
      <tr class="table-row">
        <th class="checkbox-row header-element" style="z-index: 3">
          <label class="checkbox-label"><input type="checkbox" [(ngModel)]="checkAll"
              (change)="checkAllOptions()"></label>
        </th>
        <th class="first-row header-element" style="z-index: 3">Badge</th>
        <th *ngFor="let conf of config.get(mode);" class="header-element">
          <div class="col-10 p-0">
            {{ TABLE_HEADERS.get(conf.value.join('.')) }} <fa-icon *ngIf="conf?.icon" [icon]="conf.icon"></fa-icon>
          </div>
          <div class="col-2 p-0"></div>
        </th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr *ngFor="let badge of displayed;" class="table-row">
        <th class="checkbox-row body-element">
          <label class="checkbox-label"><input type="checkbox" [(ngModel)]="badge.checked"></label>
        </th>
        <th class="first-row body-element d-flex">
          <div class="col-10 p-0" style="white-space: pre-line;">
            {{ BADGE_NAMES.get(badge.type) }}
          </div>
          <div class="col-2 p-0">
            <img class="icon" [alt]="BADGE_NAMES.get(badge.type)" [src]="BADGE_ICONS.get(badge.type)">
          </div>
        </th>
        <th *ngFor="let conf of config.get(mode)" class="body-element input-container">
          <div class="input-div">
            <input *ngIf="mode !== StatsType.PERSONNAL_ATTRIBUTES" type="number" class="stat-input"
              [(ngModel)]="conf.value.length === 1 ? badge[mode][conf.value[0]] : badge[mode][conf.value[0]][conf.value[1]]"
              (change)="onStatsChange(badge, conf.value, $event)" />
            <fa-icon class="delete" [icon]="faTrashAlt"
              (click)="onStatsChange(badge, conf.value, {target: { value: null } })"></fa-icon>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div id='savePopover'>Sauvegardé</div>

<div class="pagination">
  <a class="start" (click)="changePage(false)">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </a>

  <a *ngFor="let page of pageable.pages"
    [ngClass]="[pageable.page === page ? 'active' : '', page === undefined ? 'unclickable': '']"
    (click)="page ? goToPage(page) : ''">{{ page ? page : '...' }}</a>

  <a class="end" (click)="changePage(true)">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </a>
</div>
