<div class="bar">
  <div class="col-4">
    <app-filter-dropdown [placeholder]="OTHER_TEXTS.get('enemyMapFilter')"
      [searchPlaceholder]="OTHER_TEXTS.get('searchPlaceholder')"
      [noDataPlaceholder]="OTHER_TEXTS.get('noDataPlaceholder')" [selectAllText]="OTHER_TEXTS.get('selectAllText')"
      [unSelectAllText]="OTHER_TEXTS.get('unSelectAllText')" [elements]="ttydMapsFilters"
      (selectionChange)="onChooseMap($event)">
    </app-filter-dropdown>
  </div>
  <div class="col-4">
    <app-filter-dropdown [placeholder]="OTHER_TEXTS.get('enemyEnemyTypeFilter')"
      [searchPlaceholder]="OTHER_TEXTS.get('searchPlaceholder')"
      [noDataPlaceholder]="OTHER_TEXTS.get('noDataPlaceholder')" [selectAllText]="OTHER_TEXTS.get('selectAllText')"
      [unSelectAllText]="OTHER_TEXTS.get('unSelectAllText')" [elements]="enemyTypesFilters"
      (selectionChange)="onChooseEnemy($event)">
    </app-filter-dropdown>
  </div>

  <div class="col-2"></div>
  <div class="col-2">
    <button style="width: 12rem;" (click)="loadCsv()">{{ OTHER_TEXTS.get('csvLoad') }}</button>
  </div>
</div>

<div class="d-flex">
  <button *ngFor="let tab of tabs" class="tab-button col" [ngClass]="mode === tab ? 'active-tab' : 'inactive-tab'"
    (click)="mode = tab">
    {{ STATS_TYPE_NAMES.get(tab) }}
  </button>
</div>

<div class="table-tab">
  <table class="entity-table">
    <thead class="table-header">
      <tr class="table-row">
        <th class="checkbox-row header-element" style="z-index: 3">
          <label class="checkbox-label"><input type="checkbox"
              [(ngModel)]="checkAll[mode !== StatsType.ATTACK_EFFECTS ? 0 : 1]" (change)="checkAllOptions()"></label>
        </th>
        <th class="first-row header-element" style="z-index: 3">{{ OTHER_TEXTS.get('enemyFirstRowHeader')  }}</th>
        <th *ngFor="let conf of config.get(mode); first as first" class="header-element"
          [ngClass]="first && mode === StatsType.ATTACK_EFFECTS ? 'second-row' : ''">
          <div class="col-10 p-0">
            {{ TABLE_HEADERS.get(conf.value.join('.')) }} <fa-icon *ngIf="conf?.icon" [icon]="conf.icon"></fa-icon>
          </div>
          <div class="col-2 p-0"></div>
        </th>
      </tr>
    </thead>
    <tbody class="table-body">
      <ng-container *ngIf="mode !== StatsType.ATTACK_EFFECTS; else attacksTab">
        <tr *ngFor="let enemy of displayed;" class="table-row">
          <th class="checkbox-row body-element">
            <label class="checkbox-label"><input type="checkbox" [(ngModel)]="enemy.checked"></label>
          </th>
          <th class="first-row body-element d-flex">
            <div class="col-10 p-0" style="white-space: pre-line;">
              {{ TTYD_MAPS.get(enemy.mapKey) + '\n' + ENEMY_NAMES.get(enemy.type) }}
            </div>
            <div class="col-2 p-0">
              <img class="icon" [alt]="ENEMY_NAMES.get(enemy.type)" [src]="ENEMY_ICONS.get(enemy.type)">
            </div>
          </th>
          <th *ngFor="let conf of config.get(mode)" class="body-element input-container">
            <div class="input-div">
              <input *ngIf="mode !== StatsType.PERSONNAL_ATTRIBUTES; else checkbox" type="number" class="stat-input"
                [(ngModel)]="conf.value.length === 1 ? enemy[mode][conf.value[0]] : enemy[mode][conf.value[0]][conf.value[1]]"
                (change)="onStatsChange(enemy, conf.value, $event)" />
              <ng-template #checkbox>
                <label class="checkbox-label">
                  <input type="checkbox" class="stat-input"
                    (change)="onStatsChange(enemy, conf.value, {target: { value: enemy[mode][conf.value[0]] !== true } })"
                    [checked]="enemy[mode][conf.value[0]] === true"
                    [indeterminate]="enemy[mode][conf.value[0]] === null || enemy[mode][conf.value[0]] === undefined" />
                </label>
              </ng-template>
              <fa-icon class="delete" [icon]="faTrashAlt"
                (click)="onStatsChange(enemy, conf.value, {target: { value: null } })"></fa-icon>
            </div>
          </th>
        </tr>
      </ng-container>
      <ng-template #attacksTab>
        <ng-container *ngFor="let enemy of displayed;">
          <tr *ngFor="let attack of enemy.attacks; let i = index;" class="table-row">
            <th class="checkbox-row body-element">
              <label class="checkbox-label"><input type="checkbox" [(ngModel)]="attack.checked"></label>
            </th>
            <th class="first-row body-element d-flex">
              <div class="col-10 p-0" style="white-space: pre-line;">
                {{ TTYD_MAPS.get(enemy.mapKey) + '\n' + ENEMY_NAMES.get(enemy.type) }}
              </div>
              <div class="col-2 p-0">
                <img class="icon" [alt]="ENEMY_NAMES.get(enemy.type)" [src]="ENEMY_ICONS.get(enemy.type)">
              </div>
            </th>
            <th *ngFor="let conf of config.get(mode); first as first;" class="body-element input-container"
              [ngClass]="first ? 'second-row' : ''">
              <ng-container *ngIf="!first; else attackName;">
                <div class="input-div">
                  <input type="number" class="stat-input"
                    [(ngModel)]="conf.value.length === 1 ? enemy.attacks[i][mode][conf.value[0]] : enemy.attacks[i][mode][conf.value[0]][conf.value[1]]"
                    (change)="onAttackChange(attack, conf.value, $event)" />
                  <fa-icon class="delete" [icon]="faTrashAlt"
                    (click)="onAttackChange(attack, conf.value, {target: { value: null } })"></fa-icon>
                </div>
              </ng-container>
              <ng-template #attackName>
                <div>
                  {{ attack.csvName }}
                </div>
              </ng-template>
            </th>
          </tr>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
<div id='savePopover'>{{ OTHER_TEXTS.get('savePopover')  }}</div>
<div class="pagination">
  <a class="start" (click)="changePage(false)">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </a>

  <a *ngFor="let page of pageable.pages"
    [ngClass]="[pageable.page === page ? 'active' : '', page === undefined ? 'unclickable': '']"
    (click)="page ? goToPage(page) : ''">{{ page ? page : '...' }}</a>

  <a class="end" (click)="changePage(true)">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </a>
</div>
