.col-0-5 {
  -webkit-box-flex: 0;
  flex: 0 0 4.16666%;
  max-width: 4.16666%;
}

.col-0-6 {
  -webkit-box-flex: 0;
  flex: 0 0 5.55555%;
  max-width: 5.55555%;
}

.col-1-3 {
  -webkit-box-flex: 0;
  flex: 0 0 11.11111%;
  max-width: 11.11111%;
}

.col-1-5 {
  -webkit-box-flex: 0;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-1-6 {
  -webkit-box-flex: 0;
  flex: 0 0 13.88888%;
  max-width: 13.88888%;
}

.col-2-5 {
  -webkit-box-flex: 0;
  flex: 0 0 20.83333%;
  max-width: 20.83333%;
}

.col-3-5 {
  -webkit-box-flex: 0;
  flex: 0 0 29.16666%;
  max-width: 29.16666%;
}

.col-4-5 {
  -webkit-box-flex: 0;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
