@import '../../styles-variables.scss';
@import '~bootstrap';

:host ::ng-deep {
  .multiselect-dropdown {
    outline: none;

    .dropdown-btn {
      border: none !important;

      &:hover,
      &:focus {
        background-color: $color-5 !important;
      }
    }

    .dropdown-list {
      min-width: 100% !important;
      width: max-content !important;

      .item2 {
        position: relative;
      }
    }
  }

  .multiselect-item-checkbox {
    input:checked + div:before {
      background: $color-5 !important;
      border: 2px solid $color-5 !important;
    }

    input + div:before {
      border: 2px solid $color-5 !important;
    }

    &:nth-child(even) {
      background: #f2f2f2 !important;
    }
  }

  .selected-item {
    background: $color-5 !important;
    border: none !important;
    border-radius: 0.5rem !important;

    &:hover {
      box-shadow: none !important;
    }
  }
}
