.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 3rem;
  height: 2rem;
  padding-top: 0.2rem;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .start {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pagination .end {
  border-radius: 0 0.5rem 0.5rem 0;
}

.unclickable {
  cursor: default;
  transition: none;
  background-color: #ffffff !important;
}
