@import '../../styles-variables.scss';

#savePopover {
  display: none;
  position: fixed;
  background: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  width: 8rem;
  text-align: center;
}

.tab-button {
  height: 2rem;
  border-radius: 5px 5px 0px 0px;
  outline: none !important;
  font-size: 11px;
  border: 0.5px solid #dee2e6;
  white-space: nowrap;
  font-weight: bold;
  margin-right: 2px;
}

.active-tab {
  background-color: $color-2-vibrant;
  color: black;
}

.inactive-tab {
  background-color: $color-2;
  color: black;
}

.table-tab {
  overflow: auto;
  position: relative;
  height: calc(100vh - 20rem);
}

.entity-table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.header-element,
.first-row,
.second-row,
.checkbox-row {
  position: -webkit-sticky;
  position: sticky;
  border-collapse: separate !important;
  z-index: 1;

  background: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
}

.first-row,
.second-row,
.checkbox-row {
  z-index: 2;
  box-shadow: inset -2px 0px 0 #dee2e6;
}

.first-row,
.second-row {
  left: 3.5rem;
  padding-left: 1rem;

  min-width: 15rem;

  height: 3rem;
  align-items: center;
}

.second-row {
  left: 18.5rem;
  min-width: 10rem;
}

.checkbox-row {
  left: 0;
  text-align: center !important;
  padding: 0 !important;

  min-width: 3.5rem;
  max-width: 3.5rem;
}

.checkbox-label {
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 0.5rem 0;
}

.header-element {
  top: 0;
  padding-left: 1rem;

  background-color: $color-4;
}

.body-element {
  text-align: inherit;
  background-color: $color-3-vibrant;
}

.table-row:nth-child(even) > .body-element {
  background-color: $color-3-variant;
}

.stat-input {
  min-width: 5rem;
  max-width: 5rem;
}

.delete {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.input-container {
  padding-left: 1.5rem;
  z-index: auto;
}

.input-div {
  display: flex;
  align-items: center;
  place-content: center;
}

.center {
  text-align: center;
}

.icon {
  max-height: 30px;
  max-width: 70px;
  padding-right: 0.3rem;
  float: right;
}

.clickable {
  cursor: pointer;
}

#warning {
  display: block;
  padding: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
}

#close {
  float: right;
  padding: 2px 5px;
  cursor: pointer;
}

input[type='checkbox'].stat-input {
  -webkit-appearance: none; // hides the default checkbox
  position: relative;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(1px 3px 2px black);
  }

  &:checked {
    background-color: #0e9700;

    &:before {
      content: '✔';
    }
  }

  &:not(:checked) {
    background-color: #fe0006;

    &:before {
      content: '✖';
    }
  }

  &:indeterminate {
    background-color: $color-4-variant;
    color: black;

    &:before {
      content: '~';
    }
  }
}
