@import '../../../../styles-variables.scss';
@import '../../../../assets/common-styles/bar.scss';

#scene {
  max-height: 80vh;
}

.scene {
  background-color: $color-4-vibrant;
  border-radius: 1.5rem;
}

.image {
  max-width: 100px;
  max-height: 100px;
  place-self: center;
}

.icon {
  max-width: 2rem;
  max-height: 2rem;
  place-self: center;
  margin: 0 1rem;
  transform: translateX(50%);
}

.clickable {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 10px;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & * {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
  }

  .input {
    border: 2px solid black;
    border-radius: 4rem;
    background-color: $color-4-vibrant;
  }

  .world-enemy {
    height: 25%;
  }

  .selected-information {
    height: 25%;
  }

  .delete-enemy {
    height: 20%;
  }

  .scroll-to-choose-enemy {
    height: 20%;
  }

  .delete-enemy,
  .scroll-to-choose-enemy {
    border-top: 1px solid;
  }
}

.selected {
  border: 5px solid $color-5-vibrant;
  border-radius: 20px;
  padding: 0.5rem;
}

.information {
  background-color: $color-4;
  text-align: -webkit-center;
  background-image: repeating-linear-gradient(45deg, transparent 0px 14px, white 15px 2px);
}

.grid.information {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 6rem;
  padding: 4rem 0;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: larger;
  background-image: repeating-linear-gradient(-45deg, transparent 0px 14px, white 15px 2px);
}

.enemy-information {
  align-items: center;
}

.font {
  font-size: larger;
}

.tab-button {
  border-radius: 2rem 2rem 0px 0px;
  outline: none !important;
  border: 0.5px solid #dee2e6;
  white-space: nowrap;
  font-weight: bold;
  margin-right: 2px;
  text-align: center;
}

.active-tab {
  background-color: $color-2-vibrant;
  color: black;
}

.inactive-tab {
  background-color: $color-2;
  color: black;
}

.choose-enemy {
  height: 90vh;
}

.choose-enemy-box {
  overflow-y: auto;
}

.label {
  background-color: $color-2;
  padding: 1rem;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  height: 4.5rem;
}

.main {
  border-right: 1px solid;

  & .label {
    border-radius: 0 0 0 1rem;
  }
}

.additional .label {
  border-radius: 0 0 1rem 0;
}

.button {
  height: 4rem;
  width: 40%;
  margin: 0 0.25rem;
}

.battle-name {
  font-size: larger;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0rem 0.5rem;
  background-color: aliceblue;
  justify-content: center;
  display: flex;
}

.label:after {
  content: '■';
  float: right;
  font-size: x-large;
}

.map- {

  @each $name,
  $color in $map-colors {
    &#{$name} .label:after {
      color: #{$color};
    }

    &#{$name}-enemy {
      outline: 1.5px solid #{$color};
    }
  }
}
