<div class="bar">
  <div class="col-2">
    <button style="width: 6rem;" class="btn btn-info" (click)="goBackToRoom()">{{ OTHER_TEXTS.get('back') }}</button>
  </div>
  <div class="col-3">
    <label style="width: 14rem;" class="battle-name">{{ OTHER_TEXTS.get('currentRoom') }}
      {{ roomCsvName }}</label>
  </div>
  <div class="col-3">
    <label style="width: 22rem;" class="battle-name">{{ OTHER_TEXTS.get('battle') }} {{ battleCsvName }}</label>
  </div>
  <div class="col-2">
    <button style="width: 12rem;" class="btn btn-dark"
      (click)="cleanBattle()">{{ OTHER_TEXTS.get('cleanBattle') }}</button>
  </div>
  <div class="col-1">
    <button style="width: 12rem;" class="btn btn-light"
      (click)="resetBattle()">{{ OTHER_TEXTS.get('resetBattle') }}</button>
  </div>
</div>

<div class="d-flex">
  <div class="col-2">
    <button class="button btn btn-light" (click)="addVariant()"
      [disabled]="this.currentBtlGrp?.enemyGroups?.length >= 20">{{ OTHER_TEXTS.get('addVariation') }}</button>
    <button class="button btn btn-light"
      (click)="equalizeProbabilities()">{{ OTHER_TEXTS.get('equalizeProbabilities') }}</button>
  </div>
  <div class="col-10" style="height: 4rem;">
    <as-split direction="horizontal" [restrictMove]="true" (dragEnd)="dragEnd($event)">
      <as-split-area *ngFor="let group of currentBtlGrp?.enemyGroups; let i=index; first as first"
        class="tab-button clickable" [ngClass]="variantIndex === i ? 'active-tab' : 'inactive-tab'" [order]="i"
        [size]="group.probability" [minSize]="5" (click)="changeToVariant(i)">
        <div>
          <div clas="row col">
            {{ group.probability }}%
            <fa-icon *ngIf="!first" [icon]="faTimesCircle" (click)="removeVariant(i)"></fa-icon>
          </div>
          <div class="row col justify-content-center">
            <img *ngFor="let enemy of getEnemiesFromGroup(i)" class="icon" [src]="ENEMY_ICONS.get(enemy.type)"
              [alt]="ENEMY_NAMES.get(enemy.type)">
          </div>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>

<div class="d-flex">
  <div class="col-2 information">
    <div class="world-enemy input">
      {{ OTHER_TEXTS.get('worldEnemy') }}
      <img class="image m-4 clickable" [src]="worldEnemyIcon" (click)="changeWorldEnemy(selectedEnemy?.type)"
        alt="World enemy" />
    </div>
    <div class="scroll-to-choose-enemy clickable input" (click)="scrollTo(chooseEnemy, 'start')">
      {{ OTHER_TEXTS.get('selectEnemy') }}
      <fa-icon style="font-size: 3rem;" [icon]="faArrowAltCircleDown"></fa-icon>
    </div>
    <div class="selected-information">
      {{ OTHER_TEXTS.get('selectedEnemy') }} <fa-icon class="clickable" *ngIf="selectedIcon" [icon]="faQuestionCircle"
        (click)="displayEnemyData()">
      </fa-icon>
      <img *ngIf="selectedIcon" class="image m-4" [src]="selectedIcon" alt="Selected enemy">
    </div>
    <div class="delete-enemy input">
      {{ OTHER_TEXTS.get('deleteEnemy') }}
      <img class="image m-4"
        [ngClass]="[selectedEnemy === undefined ? 'selected' : '', canRemoveEnemy ? 'clickable' : '']"
        [src]="ENEMY_ICONS.get(EnemyType.INVALID_ACTOR)" [alt]="ENEMY_NAMES.get(EnemyType.INVALID_ACTOR)"
        [title]="ENEMY_NAMES.get(EnemyType.INVALID_ACTOR)" (click)="selectEnemy(undefined, scene);">
    </div>
  </div>

  <div class="col-10 scene">
    <svg #scene id="scene" viewBox="0 0 1920 1080">
      <image xlink:href="assets/images/map/stage.png" height="100%" />
      <image *ngFor="let enemy of getAllEnemiesFromVariant(variantIndex); let i = index;" class="clickable"
        [ngClass]="enemy.mapKey ? enemy.mapKey === currentBtlGrp?.mapKey ? 'map-main-enemy' : 'map-' + getIndexOfUsedMap(enemy.mapKey) + '-enemy' : ''"
        [attr.xlink:href]="ENEMY_ICONS.get(enemy.type)"
        [attr.x]="displayedSceneIcons[i] ? 'calc(7.5% + '+ (100 * i / MAX_ENEMIES) + '% - ' + displayedSceneIcons[i].width / 2 + 'px)' : 0"
        [attr.y]="displayedSceneIcons[i] ? 'calc(75% - ' + displayedSceneIcons[i].height + 'px - ' + (ENEMY_Y_POS.has(enemy.type) ? ENEMY_Y_POS.get(enemy.type) * 4 : 0) + 'px)' : 0"
        [attr.width]="displayedSceneIcons[i]?.width" [attr.height]="displayedSceneIcons[i]?.height"
        (click)="changeEnemy(i, chooseEnemy)" />
    </svg>
  </div>
</div>


<div #chooseEnemy class="d-flex choose-enemy">
  <div class="col-2 grid information">
    {{ OTHER_TEXTS.get('currentBattle') }}
    <div *ngFor="let enemy of getEnemiesFromGroup(variantIndex)" class="row enemy-information">
      <div class="col-8">
        <img class="image" [src]="ENEMY_ICONS.get(enemy.type)" [alt]="ENEMY_NAMES.get(enemy.type)">
      </div>
      <div class="col-4">
        {{ MapKey[enemy.mapKey] }}
      </div>
    </div>
  </div>
  <div class="d-flex col-10">
    <div class="col-6 choose-enemy-box p-0 main map-main">
      <div class="label">
        {{ OTHER_TEXTS.get('currentMapEnemies') }} - {{ MAP_NAMES.get(currentBtlGrp?.mapKey) }}
      </div>
      <div class="grid">
        <img *ngFor="let enemy of mainMapEnemies" class="image clickable"
          [ngClass]="selectedEnemy === enemy ? 'selected' : ''" [src]="ENEMY_ICONS.get(enemy.type)"
          [alt]="ENEMY_NAMES.get(enemy.type)" [title]="ENEMY_NAMES.get(enemy.type)" (click)="selectEnemy(enemy, scene)">
      </div>
    </div>
    <div class="col-6 choose-enemy-box p-0 additional" [ngClass]="'map-' + getIndexOfUsedMap(this.secondMap?.id)">
      <div class="row label">
        <div class="col-8">
          <app-select-dropdown [elements]="additionalRels" [placeholder]="OTHER_TEXTS.get('additionalMapEnemies')"
            [selectedItems]="secondMap ? [secondMap] : []" (selectionChange)="changeSecondMap($event)">
          </app-select-dropdown>
        </div>
        <div class="col"></div>
      </div>
      <div class="grid">
        <img *ngFor="let enemy of secondMapEnemies" class="image clickable"
          [ngClass]="selectedEnemy === enemy ? 'selected' : ''" [src]="ENEMY_ICONS.get(enemy.type)"
          [alt]="ENEMY_NAMES.get(enemy.type)" [title]="ENEMY_NAMES.get(enemy.type)" (click)="selectEnemy(enemy, scene)">
      </div>
    </div>
  </div>
</div>
