@import '../../styles-variables.scss';

.page-centered {
  position: fixed;
  top: 25%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.label {
  white-space: break-spaces;
  font-size: xx-large;
}

.sub-label {
  font-size: x-large;
}

.generation-form {
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: $color-4;
  border-radius: 1.5rem;
}

.generation-card {
  background-color: white;
  padding: 2rem;
  padding-bottom: 8rem;
  border-radius: 1rem;
  box-shadow: 12px 12px 2px 1px $color-3-variant;
}
