<div class="container">
  <div *ngIf="isGenerating;" class="generation-card page-centered" style="z-index: 11;">
    <div class="label">
      Génération en cours
    </div>
    <div>
      <app-loading-screen></app-loading-screen>
    </div>
  </div>

  <div class="generation-form">
    <div class="row pb-4">
      <label class="col-6 label">Paramètres de génération</label>
      <label class="col-6">(* champs obligatoires)</label>
    </div>
    <div class="row pb-4">
      <label class="col-12 sub-label">Dossier REL de la ROM*</label>
      <input class="col-8" style="background-color: white;" type="text" [(ngModel)]="paths.relFolder"
        placeholder="Dossier REL de la ROM" disabled>
      <button class="col-3 btn btn-secondary" (click)="selectPath('relFolder')">Choix du dossier</button>
      <fa-icon class="col-1" style="cursor: pointer;" [icon]="faTrash" (click)="resetPath('relFolder')"></fa-icon>
    </div>

    <div class="row pb-4">
      <label class="col-12 sub-label">Dossier Card de Dolphin</label>
      <input class="col-8" style="background-color: white;" type="text" [(ngModel)]="paths.cardFolder"
        placeholder="Dossier Card de Dolphin" disabled>
      <button class="col-3 btn btn-secondary" (click)="selectPath('cardFolder')">Choix du dossier</button>
      <fa-icon class="col-1" style="cursor: pointer;" [icon]="faTrash" (click)="resetPath('cardFolder')"></fa-icon>
    </div>

    <div class="row pb-4">
      <label class="col-12 sub-label">Debug mode</label>
      <div class="custom-control custom-checkbox">
        <input id="debugMode" class="custom-control-input" type="checkbox" [(ngModel)]="Miscellaneous.debugMode"
          (change)="saveDebugMode()">
        <label class="custom-control-label" for="debugMode">
          Active le debug mode et génère une archive contenu les informations utiles au debug (nécessite le dossier
          Card)
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <button class="col-4 btn btn-primary" (click)="createMod()"
        [disabled]="!paths.relFolder || Miscellaneous.debugMode && !paths.cardFolder">
        Lancer la génération
      </button>
      <div class="col"></div>
      <button class="col-4 btn btn-primary" (click)="createModFromFile()">
        Générer à partir d'un fichier
      </button>
      <div class="col"></div>
    </div>
  </div>

  <div class="row">
    <label class="col-3 label">Sortie :</label>
    <textarea class="col-12" style="background-color: white;" [(ngModel)]="result" maxlength="4000" autosize
      disabled></textarea>
  </div>
</div>

<div id="overlay"></div>
