@import '../../styles-variables.scss';
@import '../../assets/common-styles/custom-col.scss';
@import '../../assets/common-styles/bar.scss';
@import '../../assets/common-styles/pagination.scss';
@import '../../assets/common-styles/table.scss';

.bar {
  justify-content: space-around;
}

.text {
  align-items: center;
  place-content: center;
  white-space: break-spaces;
}
