<div id="warning" (click)="closeWarning()">
  <span id='close' (click)="closeWarning()">x</span>
  <p class="d-flex text">
    {{ OTHER_TEXTS.get('warningPopover') }}
    <img style="width: 100px;" src="assets/images/luigi.png" alt="Paper Luigi greeting">
  </p>
</div>

<div class="bar">
  <div *ngFor="let type of partnerTypes;" class="clickable" (click)=" onPartnerChange(type)">
    <img class="icon clickable" [alt]="PARTNER_NAMES.get(type)" [src]="PARTNER_ICONS.get(type)">
    <input type="checkbox" style="width: 5rem; cursor: pointer;" [checked]="isPartnerChecked(type)">
  </div>

  <div style="width: 12rem;">
    <app-filter-dropdown [placeholder]="OTHER_TEXTS.get('rankFilter')" [allowSearchFilter]="false"
      [enableCheckAll]="false" [elements]="ranks" (selectionChange)="onChooseRank($event)">
    </app-filter-dropdown>
  </div>
</div>

<div class="d-flex">
  <button *ngFor="let tab of tabs" class="tab-button col" [ngClass]="mode === tab ? 'active-tab' : 'inactive-tab'"
    (click)="mode = tab">
    {{ STATS_TYPE_NAMES.get(tab) }}
  </button>
</div>

<div class="table-tab">
  <table class="entity-table">
    <thead class="table-header">
      <tr class="table-row">
        <th class="checkbox-row header-element" style="z-index: 3">
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="checkAll[!isAttackMode ? 0 : 1]" (change)="checkAllOptions()">
          </label>
        </th>
        <th class="first-row header-element" style="z-index: 3">{{ OTHER_TEXTS.get('partnerRank') }}</th>
        <th *ngFor="let conf of config.get(mode); first as first" class="header-element"
          [ngClass]="first && isAttackMode ? 'second-row' : ''">
          <div class="col-10 p-0">
            {{ TABLE_HEADERS.get(conf.value.join('.')) }} <fa-icon *ngIf="conf?.icon" [icon]="conf.icon"></fa-icon>
          </div>
          <div class="col-2 p-0"></div>
        </th>
      </tr>
    </thead>

    <tbody class="table-body">
      <ng-container *ngIf="!isAttackMode; else attacksTab">
        <tr *ngFor="let partner of displayed;" class="table-row">
          <th class="checkbox-row body-element">
            <label class="checkbox-label"><input type="checkbox" [(ngModel)]="partner.checked"></label>
          </th>
          <th class="first-row body-element d-flex">
            <div class="col-5 p-0" style="white-space: pre-line;">
              {{ PARTNER_NAMES.get(partner.type) }}
            </div>
            <div class="d-flex col-5">
              <img *ngFor="let number of rank(partner)" class="icon" src="assets/images/partners/shine_sprite.png">
            </div>
            <div class="col-2 p-0">
              <img class="icon" [alt]="PARTNER_NAMES.get(partner.type)" [src]="PARTNER_ICONS.get(partner.type)">
            </div>
          </th>
          <th *ngFor="let conf of config.get(mode)" class="body-element input-container">
            <div class="input-div">
              <input *ngIf="!conf.isBool; else checkbox" type="number" class="stat-input"
                [(ngModel)]="conf.value.length === 1 ? partner[mode][conf.value[0]] : partner[mode][conf.value[0]][conf.value[1]]"
                (change)="onStatsChange(partner, conf.value, $event)" />
              <ng-template #checkbox>
                <label class="checkbox-label">
                  <input type="checkbox" class="stat-input" [(ngModel)]="partner[mode][conf.value[0]]"
                    (click)="onStatsChange(partner, conf.value, {target: { value: partner[mode][conf.value[0]] !== true } })"
                    [indeterminate]="partner[mode][conf.value[0]] === null || partner[mode][conf.value[0]] === undefined" />
                </label>
              </ng-template>
              <fa-icon class="delete" [icon]="faTrashAlt"
                (click)="onStatsChange(partner, conf.value, {target: { value: null } })"></fa-icon>
            </div>
          </th>
        </tr>
      </ng-container>

      <ng-template #attacksTab>
        <ng-container *ngFor="let partner of displayed;">
          <tr *ngFor="let attack of partner.attacks; let i = index;" class="table-row">
            <th class="checkbox-row body-element">
              <label class="checkbox-label">
                <input type="checkbox" [(ngModel)]="attack.checked">
              </label>
            </th>

            <th class="first-row body-element d-flex">
              <div class="col-5 p-0" style="white-space: pre-line;">
                {{ PARTNER_NAMES.get(partner.type) }}
              </div>
              <div class="d-flex col-5">
                <img *ngFor="let number of rank(partner)" class="icon" src="assets/images/partners/shine_sprite.png">
              </div>
              <div class="col-2 p-0">
                <img class="icon" [alt]="PARTNER_NAMES.get(partner.type)" [src]="PARTNER_ICONS.get(partner.type)">
              </div>
            </th>

            <th *ngFor="let conf of config.get(mode); first as first;" class="body-element input-container"
              [ngClass]="first ? 'second-row' : ''">
              <ng-container *ngIf="!first; else attackName;">
                <div class="input-div">
                  <input *ngIf="!conf.isBool; else checkbox2" type="number" class="stat-input"
                    [(ngModel)]="conf.value.length === 1 ? partner.attacks[i][mode][conf.value[0]] : partner.attacks[i][mode][conf.value[0]][conf.value[1]]"
                    (change)="onAttackChange(attack, conf.value, $event)" />
                  <ng-template #checkbox2>
                    <label class="checkbox-label">
                      <input type="checkbox" class="stat-input" [(ngModel)]="partner.attacks[i][mode][conf.value[0]]"
                        (click)="onAttackChange(attack, conf.value, {target: { value: partner.attacks[i][mode][conf.value[0]] !== true } })"
                        [indeterminate]="partner.attacks[i][mode][conf.value[0]] === null || partner.attacks[i][mode][conf.value[0]] === undefined" />
                    </label>
                  </ng-template>
                  <fa-icon class="delete" [icon]="faTrashAlt"
                    (click)="onAttackChange(attack, conf.value, {target: { value: null } })"></fa-icon>
                </div>
              </ng-container>
              <ng-template #attackName>
                <div>
                  {{ ATTACK_NAMES.get(attack.propertyName) }}
                </div>
              </ng-template>
            </th>
          </tr>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
<div id='savePopover'>{{ OTHER_TEXTS.get('savePopover') }}</div>
