@import '../../../styles-variables.scss';
@import '../../../assets/common-styles/bar.scss';

polygon {
  fill: $color-1-vibrant-transparent;
}

polygon:hover {
  cursor: pointer;
  fill: $color-3-vibrant-transparent;
}

.map {
  max-height: 75vh;
}

.information {
  width: 40rem;
  display: inline-flex;
  text-align: center;
  margin-bottom: 1rem;

  &-detail {
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
    display: inline-flex;
    justify-content: space-between;
  }
}

.center {
  text-align: center;
}
