<div *ngIf="!Miscellaneous.language" class="main-bar"></div>

<div *ngIf="Miscellaneous.language" class="main-bar">
  <div class="col-2">
    <img class="icon-home" src="assets/images/ttyd-icon.png" alt="ttyd-icon" [routerLink]="'home'">
  </div>

  <div class="row col-6">
    <div class="col-4">
      <div style="width: 12rem;" class="dropdown btn btn-secondary dropdown-toggle" type="button" id="configNavigation"
        aria-haspopup="true" aria-expanded="false">
        {{ OTHER_TEXTS.get('configurations') }}
        <div class="dropdown-menu" aria-labelledby="configNavigation">
          <a class="dropdown-item" [routerLink]="'partner'">
            {{ OTHER_TEXTS.get('partners') }}
          </a>
          <a class="dropdown-item" [routerLink]="'enemy'">
            {{ OTHER_TEXTS.get('enemies') }}
          </a>
          <a class="dropdown-item" [routerLink]="'badge'">
            {{ OTHER_TEXTS.get('badges') }}
          </a>
          <a class="dropdown-item" [routerLink]="'menu_color'">
            {{ OTHER_TEXTS.get('menuColors') }}
          </a>
        </div>
      </div>
    </div>

    <div class="col-5"></div>

    <div class="col-3">
      <button style="width: 12rem;" class="btn btn-primary" [routerLink]="'map'">
        {{ OTHER_TEXTS.get('map') }}
      </button>
    </div>
  </div>
  <div class="col-3">
    <button style="width: 12rem;" class="btn btn-primary" [routerLink]="'generate_mod'">
      {{ OTHER_TEXTS.get('modGeneration') }}
    </button>
  </div>
  <div class="col-1 flags">
    <button [ngClass]="Miscellaneous.language == Language.FRENCH ? 'flag-selected' : ''"
      class="flag flag-icon flag-icon-fr flag-icon-squared" (click)="changeLanguage(Language.FRENCH)"></button>
    <button [ngClass]="Miscellaneous.language == Language.ENGLISH ? 'flag-selected' : ''"
      class="flag flag-icon flag-icon-gb flag-icon-squared" (click)="changeLanguage(Language.ENGLISH)"></button>
  </div>
</div>
<router-outlet></router-outlet>
<div class="credits">
  <div>TTYD Editor - v{{ version }}</div>
  <div>Created by Tohlo The Wolf</div>
</div>
