@import '../styles-variables.scss';

.main-bar {
  padding: 1rem 0;
  background-color: $color-1;
  height: 4rem;
  display: flex;
  margin-bottom: 1rem;
}

.pill {
  display: inline-block;
  inline-size: -webkit-fill-available;
  background: white;
  border-radius: 1rem;
  align-self: center;
  padding: 0.5rem;
}

.navigation-btn {
  margin: 0 1rem;
}

.loading {
  float: right;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.flags {
  display: flex;
  justify-content: center;
}

.flag {
  background-color: transparent;
  width: 25%;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 1.1rem;

  &:hover {
    filter: brightness(0.5);
  }

  &-selected {
    outline: auto;
  }
}

.credits {
  color: $color-3-vibrant;
  padding-left: 1rem;
  padding-bottom: 1rem;

  position: fixed;
  bottom: 0%;
}

.icon-home {
  max-height: 3rem;
  outline: none;
  cursor: pointer;
}
