@import '../../../../assets/common-styles/dropdown.scss';

:host ::ng-deep {
  .multiselect-dropdown .dropdown-btn {
    @extend .btn-primary;
  }

  .multiselect-item-checkbox {
    input:checked + div:before {
      border-radius: 100% !important;
    }

    input + div:before {
      border-radius: 100% !important;
    }
  }

  .action-dropdown .multiselect-item-checkbox {
    input:checked + div:before {
      background-color: grey !important;
      top: 82% !important;
      left: 6% !important;
      width: 3px !important;
      height: 3px !important;
      border-radius: 0% !important;
    }

    input + div:before {
      background-color: grey !important;
      top: 82% !important;
      left: 6% !important;
      width: 3px !important;
      height: 3px !important;
      border-radius: 0% !important;
    }
  }
}
