  <div class="modal-content">
    <div class="modal-body">
      Choose your language:
      <div class="flags">
        <button [ngClass]="Miscellaneous.language == Language.FRENCH ? 'flag-selected' : ''"
          class="flag flag-icon flag-icon-fr flag-icon-squared" (click)="changeLanguage(Language.FRENCH)"></button>
        <button [ngClass]="Miscellaneous.language == Language.ENGLISH ? 'flag-selected' : ''"
          class="flag flag-icon flag-icon-gb flag-icon-squared" (click)="changeLanguage(Language.ENGLISH)"></button>
      </div>
    </div>
  </div>
