@import '../../styles-variables.scss';

.flags {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: $color-4;
}

.flag {
  background-color: transparent;
  width: 25%;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 1.1rem;
  outline: none;

  &:hover {
    filter: brightness(0.5);
  }
}

.modal-body {
  background-color: $color-3;
}
