<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="decline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ message }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="accept()">{{ btnOkText }}</button>
  <button type="button" class="btn btn-outline-dark" (click)="decline()">{{ btnCancelText }}</button>
</div>
