<div class="menu-color">
  <div class="row header-row">
    <div class="col-2 header">{{ OTHER_TEXTS.get('page') }}</div>
    <div class="col-2 header">{{ OTHER_TEXTS.get('color') }}</div>
    <div class="col-8 header">{{ OTHER_TEXTS.get('display') }}</div>
  </div>
  <div *ngFor="let page of menuPages;" class="row management-row"
    [style]="'height: calc(75vh/' + menuPages.length + ');'">
    <div class="col-2">{{ PAUSE_MENU_PAGE_NAMES.get(page) }}</div>
    <div class="col-2">
      <div *ngFor="let i of array(3);" class="choose-color">
        {{ OTHER_TEXTS.get(menuColors.get(page)[i].part) }}
        <div>
          <input type="color" [(ngModel)]="menuColors.get(page)[i].color" (change)="save()">
          <fa-icon class="p-2 clickable" [icon]="faTrashAlt" (click)="reset(page, i)"></fa-icon>
        </div>
      </div>
    </div>
    <div class="col-8 preview p-0" [style.background-color]="menuColors.get(page)[1].color"
      [style.border-color]="menuColors.get(page)[0].color">
      <div class="w-100 h-100" style="clip-path: url(#icons);" [style.background-color]="menuColors.get(page)[2].color">
        <svg width="100%" height="100%">
          <defs>
            <clipPath id="icons">
              <path
                d="M968.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM909.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM941.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1007 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1096.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1037.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1069.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1135 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1224.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1165.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1197.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1263 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1352.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1293.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1325.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1391 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1480.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1421.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1453.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1519 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1608.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1549.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1581.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1647 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1736.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1677.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1709.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1775 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM968.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM909.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM941.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1007 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1096.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1037.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1069.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1135 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1224.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1165.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1197.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1263 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1352.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1293.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1325.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1391 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1480.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1421.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1453.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1519 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1608.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1549.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1581.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1647 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM1736.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1677.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM1709.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM1775 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5z M72.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM13.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM45.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM111 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM200.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM141.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM173.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM239 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM328.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM269.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM301.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM367 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM456.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM397.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM429.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM495 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM584.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM525.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM557.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM623 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM712.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM653.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM685.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM751 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM840.9 70.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM781.7 70.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM813.5 104.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM879 108.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5z M72.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM13.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM45.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM111 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM200.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM141.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM173.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM239 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM328.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM269.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM301.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM367 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM456.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM397.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM429.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM495 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM584.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM525.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM557.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM623 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5zM712.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM653.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM685.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM751 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5z M840.9 6.7c-4.7 4-6.3 8.4-4.6 12.6c1.8 4.1 8.1 9 11.7 9c3.6 0 9.9-4.9 11.7-9c1.1-2.8 1.1-3.8-.1-6.6c-2-5-7-8.7-11.6-8.7c-2.7 0-4.8.8-7.1 2.7zm10.9-.1c2.5 1.7 2.8 3.3.9 5.8c-2.8 3.8-10.7 1.7-10.7-2.8c0-1.7 3.8-4.6 6-4.6c.9 0 2.6.7 3.8 1.6zm-11 6.6c1.8 1.8 1.4 5.6-.7 6.7c-2.1 1.2-3.1-.2-3.1-4.3c0-3.5 1.6-4.6 3.8-2.4zm18 1.2c.2 1 .1 2.9-.2 4.2c-.6 2.1-.9 2.3-2.6 1.4c-2.2-1.2-2.6-5-.8-6.8c1.6-1.6 3.2-1 3.6 1.2zm-13.1 8.3c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM781.7 6.7c-1.4 1.5-2.1 1.5-3.7.5c-1.6-1-2.1-.9-3 .7c-1.6 3.1-1.2 8.6.8 10.4c.9.8 2.9 2 4.5 2.6c1.5.6 2.7 1.5 2.7 2.1c0 1.2-1.7 1.3-2.4.1c-.7-1-6.6-2-6.6-1.1c0 1.8 3 4.2 6.3 4.9c6.1 1.4 13.7-1.3 13.7-4.9c0-.9-5.9.1-6.6 1.1c-.7 1.2-2.4 1.1-2.4-.1c0-.6 1.2-1.5 2.7-2.1c1.6-.6 3.6-1.8 4.5-2.6c2-1.8 2.4-7.3.8-10.4c-.9-1.6-1.4-1.7-3-.7c-1.5 1-2.2.9-3.8-.5c-2.3-2.1-2.4-2.1-4.5 0zm-.4 8.5c-1 2.1-1.2 2.1-1.8.5c-1-2.5.2-5.4 1.7-3.9c.8.8.8 1.8.1 3.4zm7.7-1.2c0 1-.4 2.1-.9 2.5c-1.2.7-2.5-3.1-1.6-4.5c.9-1.5 2.5-.2 2.5 2zM813.5 40.3c-1.2 1.9-3 3.3-4.5 3.5c-4 .6-4.6 1.9-2.1 4.6c2 2.1 2.3 3.2 1.7 6.6c-.7 4.5-.3 4.7 4.2 2.4c2.9-1.4 3.5-1.4 6.4 0c4.5 2.3 4.9 2.1 4.2-2.4c-.6-3.4-.3-4.5 1.7-6.6c2.5-2.7 1.9-4-2.1-4.6c-1.5-.2-3.3-1.6-4.5-3.5c-1.1-1.8-2.2-3.2-2.5-3.2c-.3 0-1.4 1.4-2.5 3.2zm.2 10.4c-.4 1.7-.4 1.7-1.2 0c-.4-.9-.4-2.5 0-3.5c.8-1.6.8-1.6 1.2 0c.3 1 .3 2.6 0 3.5zm6.3-1.7c0 1-.4 2.2-1 2.5c-.6.4-1-.7-1-2.5c0-1.8.4-2.9 1-2.5c.6.3 1 1.5 1 2.5zM879 44.5c0 6.4 0 6.5-2.4 5.9c-3.4-.8-6.8 1.2-6.4 3.9c.4 2.9 4.9 4.5 8.3 2.9c2.4-1.1 2.5-1.6 2.2-7.2c-.4-6.8 1.2-8.1 3.7-3.1c.9 1.6 2.3 3.1 3.1 3.5c2.5.9 2.9.7 1.7-.7c-.6-.7-1-2.8-1-4.6c.1-3.9-2.9-7.1-6.8-7.1c-2.3 0-2.4.3-2.4 6.5z">
              </path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
