@import '../../styles-variables.scss';

.menu-color {
  margin: 1rem;
  padding: 0 1rem;
  background-color: $color-4;
  height: 85vh;
  border-radius: 1.5rem;
}

.management-row {
  background-color: $color-3-vibrant;
  align-items: center;
  padding: 0.2rem;
  text-align: center;

  &:nth-child(even) {
    background-color: $color-3-variant;
  }
}

.header-row {
  text-align: center;

  & .header {
    padding: 0.3rem;
  }
}

.choose-color {
  display: flex;
  justify-content: space-between;
}

.preview {
  width: 100%;
  height: 100%;

  border-width: 1rem 0;
  border-style: solid;
  border-radius: 1rem;
}
