// Color palette ttyd
$color-1: #3e3835;
$color-2: #d9ad55;
$color-3: #e3cfa9;
$color-4: #c6bfb4;
$color-5: #a84f45;

$color-1-vibrant: #433631;
$color-2-vibrant: #ffc313;
$color-3-vibrant: #ffd78c;
$color-4-vibrant: #cfc0ab;
$color-5-vibrant: #d92714;

$color-3-variant: #ecd1a0;
$color-4-variant: #d4d4d4;

$color-1-vibrant-transparent: #43363180;
$color-2-vibrant-transparent: #ffc31380;
$color-3-vibrant-transparent: #ffd78c80;
$color-5-vibrant-transparent: #d9271480;

$map-colors: 'main'#e6194b,
0 #3cb44b,
1 #ffe119,
2 #4363d8,
3 #f58231,
4 #911eb4,
5 #42d4f4;

$spawner-colors: 'block'#42d4f4,
'hidden'#3cb44b,
'world'#ffe119,
'ground'#4363d8,
'tree'#f58231,
'given'#911eb4,
'chest'#4e3003;
