@import '../../../../assets/common-styles/dropdown.scss';

:host ::ng-deep {
  .multiselect-dropdown .dropdown-btn {
    @extend .form-control;
    border: 1px solid #adadad !important;
    border-radius: 0 !important;
  }

  .multiselect-item-checkbox {
    input:checked + div:before {
      background: grey !important;
      border-color: grey !important;
    }

    input + div:before {
      border-color: grey !important;
    }
  }

  .single-select .multiselect-item-checkbox {
    input:checked + div:before {
      border-radius: 100% !important;
    }

    input + div:before {
      border-radius: 100% !important;
    }
  }

  .selected-item {
    background: grey !important;
  }

  .ng-touched.valid .multiselect-dropdown .dropdown-btn {
    border: 1px solid #28a745 !important;

    &::after {
      float: right;
      padding-right: 5px;
      padding-top: 2px;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }
  }
  .ng-touched.invalid .multiselect-dropdown .dropdown-btn {
    border: 1px solid #dc3545 !important;

    &::after {
      float: right;
      padding-right: 5px;
      padding-top: 2px;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    }
  }
}
